.background__container-bottom--services {
    text-align: center;
}

.background__container-bottom--title-one {
    font-family: $font-kaushan;
    font-size: 24px;
}

.background__container-bottom--title-two {
    display: block;
    font-family: $font-montserrat;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 104px;
    margin-top: 14px;
}

.background__container-bottom--title-two:after {
    position: absolute;
    display: block;
    content: ""; 
    height: 3px;
    width: 60px;
    background-color: $color-peach;
    margin-left: 570px;
    margin-top: 36px;
}

.features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    list-style-type: none;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.features__item {
    width: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.features__item::before {
    content: "";
    display: inline-block;
    width: 32px;
    background-repeat: no-repeat; 
}

.features__alarm::before {
    background-image: url(../images/icons/alarm.png);
}

.features__graph::before {
    background-image: url(../images/icons/graph.png);
}

.features__computer::before {
    background-image: url(../images/icons/computer.png);
}

.features__book::before {
    background-image: url(../images/icons/book.png);
}

.features__home::before {
    background-image: url(../images/icons/home.png);
}

.features__image::before {
    background-image: url(../images/icons/image.png);
}

.features__description {
    width: 300px;
    margin-bottom: 98px;
}

.features__description--name {
    font-family: $font-montserrat;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 14px;
    color: $color-grey;
}
  
.features__description--text {
    font-family: $font-roboto;
    font-size: 15px;
    font-weight: 400;
    text-align: left;
    color: $color-light-grey;
    line-height: 1.6;
}