// fonts

$font-roboto: "Roboto";
$font-montserrat: "Montserrat";
$font-kaushan: "Kaushan Script";

// colors

$color-white: #ffffff;
$color-lemon: #fce38a;
$color-cyan: #95e1d3;
$color-peach: #f38181;
$color-grey: #333333;
$color-light-grey: #999999;
$color-peach-transparent: #f38181e6;
$color-lemon-transparent: #fce388e6;
$color-dirty-white: #cccccc;
